/* show borders for debugging
* { border: 1px solid red; }
*/

#map {
  width: 100%;
  height: 100vh;
}

#info-window {
  display: none;
}

#info-window-content {
  padding-left: 0px;
  padding-right: 0px;
}

#pano {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 28px -14px rgba(122,117,122,1);
          box-shadow: 0px 10px 28px -14px rgba(122,117,122,1);
}

.messages {
  padding-right: 0px;
  padding-left: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  min-height: 0px;
}

.action-footer {
  background-color: black;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.full-height {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.spot-list {
  height: calc(100% - 34px);

  /*
  Set to other than static so that when JQuery position() is called on one of
  its children it returns the position the children relative to spot-list.
  This is needed for custom Knockout binding scrollTo to work correctly.
  More info:
  https://stackoverflow.com/questions/2842432/jquery-position-isnt-returning-offset-relative-to-parent/2842447
  */
  position: relative;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.no-margin {
  margin: 0px;
}

.scrollable {
  max-height: 100vh;
  overflow: scroll;
}

.btn-margin {
  margin: 5px;
}

.trail-type {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.trail-info {
  margin-bottom: 5px;
}

.wikipedia-article {
  font-weight: bold;
}

.btn-action-spot {
  float: right;
  display: none;
}

.text-overflow {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-form > .form-group > label {
  color: #777;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .fill-screen {
    height: calc(100vh - 51px);
  }
  #map {
    height: 100%;
  }
  .navbar-form .input-group>.form-control.trail-filter {
    width: 160px;
  }
  #search-radius {
    width: 50px;
  }
}

@media screen and (min-width: 1367px) {
  .btn-delete-spot {
    /* Display delete icon in the list items for large screens (iPad Pro has 1366 px)*/
    display: inline-block;
  }
  .btn-save-spot {
    display: inline-block;
    margin-right: 5px;
  }
}
